{% extends 'layout.html.twig' %}

{% block title %}Profile{% endblock %}

{% block body %}
    <div class="container-fluid">
        <div class="row">
            <div class="col-4">
                <div class="d-inline-flex p-2 bd-highlight hidden-sm">
                    <ul class="nav nav-tabs flex-column" role="tablist">
                        <li class="nav-item" role="presentation">
                            <a id="interest-tab" href="#professional_interest" class="nav-link " data-toggle="tab" role="tab" aria-controls="professional_interest" aria-selected="true">
                                Intérêts Professionnels
                            </a>
                        </li>
                        <li class="nav-item" role="presentation">
                            <a id="general-tab" href="#general_information" class="nav-link " data-toggle="tab" role="tab" aria-controls="general_information" aria-selected="false">
                                Information Générales
                            </a>
                        </li>
                        <li class="nav-item" role="presentation">
                            <a id="information-tab" href="#professional_information" class="nav-link" data-toggle="tab" role="tab" aria-controls="professional_information" aria-selected="false">
                                Information Professionnelles
                            </a>
                        </li>
                        <li class="nav-item" role="presentation">
                            <a id="experience-tab" href="#experience" class="nav-link" data-toggle="tab" role="tab" aria-controls="experience" aria-selected="false">
                                Experience
                            </a>
                        </li>
                        <li class="nav-item" role="presentation">
                            <a id="education-tab" href="#education" class="nav-link" data-toggle="tab" role="tab" aria-controls="education" aria-selected="false">
                                Education
                            </a>
                        </li>
                        <li class="nav-item" role="presentation">
                            <a id="social-tab" href="#social_link" class="nav-link" data-toggle="tab" role="tab" aria-controls="social_link" aria-selected="false">
                                Présence en ligne
                            </a>
                        </li>
                        <li class="nav-item" role="presentation">
                            <a id="documents-tab" href="#documents" class="nav-link active" data-toggle="tab" role="tab" aria-controls="documents" aria-selected="false">
                                Documents
                            </a>
                        </li>
                        
                    </ul>
                </div>
            </div>

            <div class="col-8">
                <div id="tabContent" class="tab-content">
                    <div id="professional_interest" class="tab-pane fade " role="tabpanel" aria-labelledby="interest-tab">
                        {{ render(path('professional_interest_new')) }}
                    </div>
                    <div id="general_information" class="tab-pane fade " role="tabpanel" aria-labelledby="general-tab">
                        {{ render(path('general_information_new')) }}
                    </div>
                    <div id="professional_information" class="tab-pane fade" role="tabpanel" aria-labelledby="information-tab">
                        {# {{ render(path('professional_information_new'), {default: 'Loading...'}) }} #}
                    </div>
                    <div id="experience" class="tab-pane fade" role="tabpanel" aria-labelledby="experience-tab">
                        {# {{ render(path('experience_new'), {default: 'Loading...'}) }} #}
                    </div>
                    <div id="education" class="tab-pane fade" role="tabpanel" aria-labelledby="education-tab">
                        {# {{ render(path('education_new'), {default: 'Loading...'}) }} #}
                    </div>
                    <div id="social_link" class="tab-pane fade" role="tabpanel" aria-labelledby="social-tab">
                        {# {{ render(path('social_link_new'), {default: 'Loading...'}) }} #}
                    </div>
                    <div id="documents" class="tab-pane fade show active" role="tabpanel" aria-labelledby="documents-tab">
                        {# {{ render(path('document_new'), {default: 'Loading...'}) }} #}
                    </div>
                </div>
            </div>
        </div>
    </div>

    
{% endblock %}
