{% extends 'layout.html.twig' %}

{% block title %}Seeker index{% endblock %}

{% block body %}
    <h1>Seeker index</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>FirstName</th>
                <th>LastName</th>
                <th>Civility</th>
                <th>BirthDate</th>
                <th>City</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for seeker in seekers %}
            <tr>
                <td>{{ seeker.id }}</td>
                <td>{{ seeker.firstName }}</td>
                <td>{{ seeker.lastName }}</td>
                <td>{{ seeker.civility }}</td>
                <td>{{ seeker.birthDate ? seeker.birthDate|date('Y-m-d') : '' }}</td>
                {# <td>{{ seeker.city }}</td> #}
                <td>
                    <a href="{{ path('seeker_show', {'id': seeker.id}) }}">show</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="7">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
{% endblock %}
