{% extends 'base.html.twig' %}

{% block title %}Job index{% endblock %}

{% block body %}
    {% include "menu.html.twig" %}

     <form name="filter" class="d-flex">
        <input id="job-title" class="form-control me-2" type="search" placeholder="Titlre" aria-label="Search">
        <input id="job-location" class="form-control me-2" type="search" placeholder="Emplacement" aria-label="Search">
        <button class="btn btn-outline-success" type="submit">Search</button>
    </form>

    <h1>Job index</h1>
   
    <div><h6>Il y a {{ jobs|length }} Offre.</h6></div>
    <hr>
    {% for job in jobs %}
        <div class="job">
            <div>
                {{ job.title }}
                {{ job.createdAt ? job.createdAt|date('Y-m-d') : '' }}
            </div>
            {{ job.address }}
            {{ job.description[:50] ~ '...'}}

            <a href="{{ path('job_show', {'slug': job.slug}) }}">show</a>

            {% if is_granted('ROLE_ADMIN') %}
                <a href="{{ path('job_edit', {'slug': job.slug}) }}">edit</a>
            {% endif %}

        </div><hr>
    {% else %}
        <div>
            <p>no records found</p>
        </div>
    {% endfor %}

    <div class="navigation">
        {# {{ knp_pagination_render(jobs, '@KnpPaginator/Pagination/foundation_v5_pagination.html.twig') }} #}
        {{ knp_pagination_render(jobs, '@KnpPaginator/Pagination/twitter_bootstrap_v4_pagination.html.twig')}}
    </div>

{% endblock %}
