{% extends 'layout.html.twig' %}

{% block title %}Education index{% endblock %}

{% block body %}
    <h1>Education index</h1>

    <div class="container-fluid">
        <div class="row">
            <div class="col-4">
                {{ include('cv/_sidebar.html.twig') }}
            </div>
            <div class="col-8">
                <a href="{{ path('education_new') }}">Ajouter</a>
                {% for education in educations %}
                    <div class="card">
                        <h5 class="card-header">
                            {{education.diplomaTitle}}
                        </h5>
                        <div class="card-body">
                            <h5 class="card-title">
                                {{education.establishment}}
                            </h5>
                            <h5>
                                de:{{education.startAt | date('d-m-Y')}}
                                {% if not education.current %}
                                    à:{{education.endAt | date('d-m-Y')}}
                                {% else %}
                                    en cours...
                                    {# {{education.current}} #}
                                {% endif %}
                            </h5>
                            <p class="card-text"></p>
                            <a href="{{ path('education_edit', {'id': education.id}) }}">Modifier</a>
                        </div>
                    </div>
                {% endfor %}
            </div>
        </div>
    </div>
    
{% endblock %}
