{% extends 'layout.html.twig' %}

{% block title %}Company index{% endblock %}

{% block body %}
     {{ form_start(form)}}
        {{form_row(form.name)}}
        <button class="btn btn-outline-success">{{ button_label|default('Search') }}</button>
    {{ form_end(form) }}

    <h1>Company index</h1>

    <hr>
    {% for company in companies %}
        <div class="company">
            <div>
                {{ company.name }}
            </div>
            {{ company.description[:50] ~ '...'}}

            {# <a href="{{ path('company_show', {'slug': company.slug}) }}">show</a> #}

            {% if is_granted('ROLE_ADMIN') %}
                {# <a href="{{ path('company_edit', {'slug': company.slug}) }}">edit</a> #}
            {% endif %}

        </div><hr>
    {% else %}
        <div>
            <p>no records found</p>
        </div>
    {% endfor %}

    <div class="navigation">
        {{ knp_pagination_render(companies, '@KnpPaginator/Pagination/twitter_bootstrap_v4_pagination.html.twig')}}
    </div>

{% endblock %}
