{% extends 'layout.html.twig' %}

{% block title %}Training index{% endblock %}

{% block body %}
    <h1>Training index</h1>

    <div><h6>Il y a {{ trainings|length }} Formation.</h6></div>
    <hr>
    {% for training in trainings %}
        <div class="training">
            <div>
                {{ training.title }}
                {{ training.createdAt ? training.createdAt|date('Y-m-d') : '' }}
            </div>
            {{ training.address }}
            {{ training.description[:50] ~ '...'}}

            {# <a href="{{ path('training_show', {'slug': training.slug}) }}">show</a> #}

            {% if is_granted('ROLE_ADMIN') %}
                {# <a href="{{ path('training_edit', {'slug': training.slug}) }}">edit</a> #}
            {% endif %}

        </div><hr>
    {% else %}
        <div>
            <p>no records found</p>
        </div>
    {% endfor %}

    <div class="navigation">
        {{ knp_pagination_render(trainings, '@KnpPaginator/Pagination/twitter_bootstrap_v4_pagination.html.twig')}}
    </div>

{% endblock %}
