{% extends 'layout.html.twig' %}

{% block title %}Experience index{% endblock %}

{% block body %}
    <h1>Experience index</h1>

    <div class="container-fluid">
        <div class="row">
            <div class="col-4">
                {{ include('cv/_sidebar.html.twig') }}
            </div>
            <div class="col-8">
                <a href="{{ path('experience_new') }}">Ajouter</a>
                {% for experience in experiences %}
                    <div class="card">
                        <h5 class="card-header">
                            {{experience.jobTitle}}
                        </h5>
                        <div class="card-body">
                            <h5 class="card-title">
                                {{experience.company}}
                            </h5>
                            <h5>
                                de:{{experience.startAt | date('d-m-Y')}}
                                {% if not experience.current %}
                                    à:{{experience.endAt | date('d-m-Y')}}
                                {% else %}
                                    en cours...
                                    {# {{experience.current}} #}
                                {% endif %}
                            </h5>
                            <p class="card-text">{{experience.description}}</p>
                            <a href="{{ path('experience_edit', {'id': experience.id}) }}">Modifier</a>
                        </div>
                    </div>
                {% endfor %}
            </div>
        </div>
    </div>
    
{% endblock %}
